
input[type=email], input[type=password] {
    cursor: url(/assets/image/cursor.cur), default;
}

input[type=checkbox] {
    float: right;
    width: auto;
    height: auto;
}

.remember {
    color: #3880af;
    justify-content: flex-end;
    align-items: center;
}

#remember-box {
    width: 30px;
    height: 30px;
    margin:0 0 0 20px;
    align-items: center;
    cursor: pointer;
    padding:0;
}

.log-in-form {
    width: 65%;
}

::placeholder {
    color: #dcdcdc;
}