// Styles for flex properties
.flex {
  display: flex;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}
.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}
.justify-start {
  justify-content: start;
  justify-items: start;
}
.justify-center {
  justify-content: center;
  justify-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
  align-content: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.stretch {
  align-self: stretch;
}
.center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
.grow-1 {
  flex-grow: 1;
}
.equal-size {
  flex: 1 1 0px;
}