.tooltip-wrapper {

  .caret-wrapper {

    &.top {
      top: 0;
      transform: translateY(calc(-100% + 10px)) !important;

      &:before {
        border-top: 8px solid black;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top-color: inherit;
        left: 50%;
        top: calc(100% - 11px);
        transform: translateX(-50%);
      }
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
    }
  }

  .tooltip {
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: -10px;
    font-size: 13px;
    font-weight: 900;

    &.big {
      padding: 8px 17px;
      font-size: 14px;
    }
  }
}