body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 3px;
    padding: 3px;
}
.margin-h-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.margin-h-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.margin-h-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-h-15 {
    margin-left: 15px;
    margin-right: 15px;
}
.margin-h-20 {
    margin-left: 20px;
    margin-right: 20px;
}
.margin-v-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.margin-v-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.margin-t-15 {
    margin-top: 15px;
}
.margin-b-15 {
    margin-bottom: 15px;
}
.margin-b-30 {
    margin-bottom: 30px;
}
.padding-h-50 {
    padding-left: 50px;
    padding-right: 50px;
}
.padding-h-100 {
    padding-left: 100px;
    padding-right: 100px;
}
.padding-v-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-v-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-t-10 {
    padding-top: 10px;
}
.padding-t-20 {
    padding-top: 20px;
}
.padding-5 {
    padding: 5px;
}
.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-30 {
    padding: 30px;
}
.padding-t-0 {
    padding-top: 0px;
}
.padding-v-20-perc {
    padding-top: 20%;
    padding-bottom: 20%;
}
.padding-h-5 {
    padding-right: 5px;
    padding-left: 5px;
}
.padding-h-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-b-100 {
    padding-bottom: 100px;
}
.margin-10 {
    margin: 10px;
}
.margin-15 {
    margin: 15px;
}
.margin-20 {
    margin: 20px;
}
.margin-50 {
    margin: 50px;
}
.margin-2-perc {
    margin: 2%;
}
.margin-h-20-perc {
    margin-left: 20%;
    margin-right: 20%;
}
.margin-l-min-5 {
    margin-left: -5px;
}
.margin-l-min-10 {
    margin-left: -10px;
}
.margin-b-0 {
    margin-bottom: 0;
}
.border-t {
    border-top: 1px solid #333;
}
.border-b {
    border-bottom: 1px solid #333;
}
.border-box {
    box-sizing: border-box;
}
.border-r {
    border-right: 1px solid #333;
}
.border-2px {
    border: 2px solid #333;
    box-sizing: border-box;
}
.border-radius-6 {
    border-radius: 6px;
}
.border-radius-8 {
    border-radius: 8px;
}
.border-radius-12 {
    border-radius: 12px;
}
.border-radius-50-perc {
    border-radius: 50%;
}
.w-0 {
    width: 0%;
}
.w-auto {
    width: auto;
}
.w-100-perc {
    width: 100%;
}
.w-110-perc {
    width: 110%;
}
.w-50-perc {
    width: 50%;
}
.w-46-perc {
    width: 46%;
}
.min-max-w-100-perc {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
.min-max-w-120-perc {
    width: 120%;
    min-width: 120%;
    max-width: 120%;
}
.min-max-h-100-perc {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
.min-max-h-120-perc {
    height: 120%;
    min-height: 120%;
    max-height: 120%;
}
.min-h-100-vh {
    min-height: 100vh;
}
.h-100-perc {
    height: 100%;
}
.h-110-perc {
    height: 110%;
}
.hidden {
    visibility: hidden;
}
.overflow-hidden {
    overflow: hidden;
}
.opacity-0 {
    opacity: 0;
}
.opacity-20 {
    opacity: 0.2;
}
.opacity-80 {
    opacity: 0.8;
}
.opacity-1 {
    opacity: 1;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.table {
    display: table;
}
.z-3 {
    z-index: 3;
}
.pointer {
    cursor: pointer;
}
.background-center {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.background-size-cover {
    background-size: cover;
}
.background-size-120-perc {
    background-size: 120% 120%;
}
.clean-background {
    background-color: #ffffffee;
}